# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
*.pyc
db.sqlite3
/static/
/media/

# Entornos
.env
*.env
.env.development
.env.production

# Docker
*.pid
*.sock

# VSCode / IDE
.vscode/
.idea/

# MacOS
.DS_Store

# Node (si llegas a usar)
node_modules/

# GitHub Actions temporales
.github/workflows/*.log

postgres_data/


#Terraform
/.terraform
/.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
keys

