# Ignorar directorios __pycache__ en cualquier lugar del proyecto
__pycache__/

# Ignorar archivos .pyc en cualquier lugar del proyecto
*.pyc

# Ignorar los archivos de migración generados por Django
*.log
*.pot
*.pyc
__pycache__/
*/__pycache__/
migrations/